<!-- <fruits></fruits> -->
<!-- <likes (likeEvent) = "likesChanged($event)" [isLiked] = "post.isLiked" [likesCount] = "post.likesCount"></likes> -->

<!-- <app-card>
<ng-container class="card-valid"> <h5>Your Card Working Fine</h5></ng-container>
<ng-container class="card-notValid"> <h4>Your Card Not Working</h4></ng-container>
</app-card> -->

<!-- <app-directives></app-directives> -->
<!-- <app-student></app-student> -->
<!-- <app-address></app-address> -->
<!-- <app-register></app-register> -->
<!-- <app-travel></app-travel> -->
<app-crud></app-crud>